######################################
#         GitLab Runner Setup        #
######################################

# GitLab project registration URL (likely https://gitlab.com/)
CI_SERVER_URL=https://gitlab.com/

# Legacy registration token (older GitLab workflow)
REGISTRATION_TOKEN=

# Runner authentication token (newer GitLab workflow, often starts with glrt-)
RUNNER_AUTH_TOKEN=your_gitlab_runner_token_here

# Comma-separated list of tags to assign to this runner
RUNNER_TAGS=multipass,ci

######################################
#         Multipass VM Config        #
######################################

# Ubuntu version (default: 22.04)
VM_OS=22.04

# The name of the Multipass VM
VM_NAME=gitlab-runner-vm

# VM resources
VM_CPUS=4
VM_MEMORY=8G
VM_DISK=10G

# Set to true to delete and recreate the VM every time
VM_REBUILD=false
